@import "../../scss/common.scss";

.homeTextContainer {
  margin-bottom: 4vh;
}

.homeText {
  // font-size: $title-font-size;
  @include TitleText;
}

.buttonText {
  font-family: $title-font-family;
  font-size: 8vw;
}

.homeContainer {
  width: 100%;
  height: 100%;

  @include flexCenter;
}

.homeContainer {
  // background-image: url("../../assets/background1.jpg");
  // background-size: cover;
  // background-position: center;
}


