@import "../scss/common.scss";

.icon {
  height: 28px;
  width: 28px;
}

.labelContainer {
  animation: expand-out 0.7s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(56, 128, 255, 0.1);
  border-radius: 15px;
  width:35vw;
  padding: 5px 10px;
  gap: 4px;
  .labelSpan {
    color: rgb(56, 128, 255, 1);
    font-size: 25px;
    font-family: $title-font-family;
  }
  .bottomPath{
    fill:rgb(56, 128, 255, 1) !important;
  }
}

@keyframes expand-out {
  0% {
    opacity: 0;
    transform: scaleX(0.5);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}
