body.light {
  ion-item {
    --ion-background-color: rgb(255, 255, 255, 0.5);
  }

  ion-list {
    --ion-background-color: rgb(0, 0, 0, 0);
  }

  ion-textarea {
    background-color: rgb(0, 0, 0, 0.2);
  }
  
  ion-content{
    --background: url("../assets/background1_light.jpg") no-repeat center center / cover !important;
  }
}
